/* ==========================================
   Base Button
========================================== */

.btn{

    display:inline-flex;
    align-items:center;
    justify-content:center;
    gap:8px;

    padding:12px 24px;

    border:none;
    outline:none;

    border-radius:var(--radius-md);

    font-size:var(--text-md);
    font-weight:600;

    text-decoration:none;

    cursor:pointer;

    transition:var(--transition);

    user-select:none;

}


/* ==========================================
   Sizes
========================================== */

.btn-sm{

    padding:8px 16px;

    font-size:var(--text-sm);

}

.btn-lg{

    padding:16px 32px;

    font-size:var(--text-lg);

}


/* ==========================================
   Primary
========================================== */

.btn-primary{

    background:var(--primary);

    color:var(--text-white);

}

.btn-primary:hover{

    background:var(--primary-dark);

}


/* ==========================================
   Success
========================================== */

.btn-success{

    background:var(--success);

    color:white;

}

.btn-success:hover{

    filter:brightness(.9);

}


/* ==========================================
   Danger
========================================== */

.btn-danger{

    background:var(--danger);

    color:white;

}

.btn-danger:hover{

    filter:brightness(.9);

}


/* ==========================================
   Warning
========================================== */

.btn-warning{

    background:var(--warning);

    color:white;

}

.btn-warning:hover{

    filter:brightness(.95);

}


/* ==========================================
   Outline
========================================== */

.btn-outline{

    background:transparent;

    border:2px solid var(--primary);

    color:var(--primary);

}

.btn-outline:hover{

    background:var(--primary);

    color:white;

}


/* ==========================================
   Ghost
========================================== */

.btn-ghost{

    background:transparent;

    color:var(--primary);

}

.btn-ghost:hover{

    background:#EEF4FF;

}


/* ==========================================
   Rounded
========================================== */

.btn-rounded{

    border-radius:var(--radius-round);

}


/* ==========================================
   Full Width
========================================== */

.btn-block{

    width:100%;

}


/* ==========================================
   Disabled
========================================== */

.btn:disabled{

    opacity:.6;

    cursor:not-allowed;

}

.status-box{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:20px;

}

.status-box form{

    margin:0;

}