/* Hero */

.hero {
    height: 80vh;
    background: linear-gradient(to right, #0f172a, #1e293b);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.hero-content h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn {
    background: #38bdf8;
    color: white;
    padding: 15px 35px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover {
    background: #0ea5e9;
}
