h1{

    font-size:var(--text-3xl);

    font-weight:700;

}

h2{

    font-size:var(--text-2xl);

}

h3{

    font-size:var(--text-xl);

}

p{

    font-size:var(--text-md);

    color:var(--text-light);

    line-height:1.7;

}